@import url('https://fonts.googleapis.com/css2?family=Anton&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Playfair Display', serif;
    height: 100%;
    color: white;
}

body {
    /* background: linear-gradient(180deg, rgba(138,8,8,1) 0%, rgba(145,12,12,1) 38%, rgba(185,33,33,1) 68%, rgba(190,38,38,1) 71%, rgba(228,65,67,1) 100%); */
    /* background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(34,34,34,1) 71%, rgba(59,59,59,1) 100%); */
    background-color: #0f0f0f;
    font-family: 'Playfair Display', serif;
    height: 100%;
}

h3 {
    background: linear-gradient(90deg, rgba(243,62,68,1) 0%, rgba(220,58,113,1) 19%, rgba(181,97,248,1) 51%, rgba(107,147,250,1) 100%);    
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Righteous', cursive;
}

.topnav {
    background-color: none;
    height: 70px;
    overflow: hidden;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: 22px;
    justify-content: space-evenly;
}

.topnav a {
    background: linear-gradient(90deg, rgba(243,62,68,1) 0%, rgba(220,58,113,1) 19%, rgba(181,97,248,1) 51%, rgba(107,147,250,1) 100%);    
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* padding: 0px 55px 0px 55px; */
    text-decoration: none;
    font-size: 22px;
    font-family: 'Righteous', cursive;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: #f9f9f9;
    height: 40%;
    width: 100%;
    top: 7.8%;
    left: 0;
    z-index: 7;
}

.dropdown-content a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

/* nav items (hover) */
/* .topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
} */

.nav-dropdown:hover .dropdown-content {
    display: flex;
}

.index-background-shape {
    /* shape */
    width: 800px;
    height: 100%;
    transform: skew(-30deg);
    background: #272727;
    /* filter: blur(10px);
    opacity: 0.8; */
    /* margin-left: -100px; */

    /* make it background */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

.index-background-text {
    font-family: 'Righteous', cursive;
    color: #272727;
    position: absolute;
    z-index: -200;
    font-weight: 900;
    opacity: 0.6;
    width: max-content;
}

.first-text {
    font-size: 120pt;
    margin-right: 300px;
}

.second-text {
    font-size: 100pt;
    margin-top: 180px;
    margin-left: 300px;
}

.third-text {
    font-size: 220pt;
    margin-top: 300px;
    margin-right: 300px;
}

.fourth-text {
    font-size: 70pt;
    margin-top: 645px;
    margin-left: 800px;
}

.index-img-container {
    display: flex;
    width: fit-content;
    justify-content: center;
}

.index-image {
    width: 80%;
    height: 95%;
    /* height: 50%; */
    /* height: 70%; */
    /* margin-right: 90px;
    margin-top: 50px; */
}

.index-desc {
    font-size: 14px;
    color: white;
    width: 600px;
    text-align: center;
}

.index-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.button-design {
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 17px;
    background: linear-gradient(90deg, rgba(243,62,68,1) 0%, rgba(220,58,113,1) 19%, rgba(181,97,248,1) 51%, rgba(107,147,250,1) 100%);  
    width: 12vw;  
    height: 6vh;
    border: none;
    border-radius: 15px;
}

.example {
    opacity: 0;
}

.wavestest {
    width: 20px;
}

.index-header {
    font-family: 'Anton', sans-serif;
    letter-spacing: 13px;
    font-weight: 1000;
    /* display: block; */
    font-size: 75px;
    color: white;
    /* transition: all .1s; */
    line-height: 110px;
    text-shadow:
        -14px 14px 0 rgba(50, 153, 240, 0.4),
        -1px 1px 0 #f33e44,
        -2px 2px 0 #f33e44,
        -3px 3px 0 #f33e44,
        -4px 4px 0 #f33e44,
        -5px 5px 0 #dc3a71,
        -6px 6px 0 #dc3a71,
        -7px 7px 0 #dc3a71,
        -8px 8px 0 #de3c96,
        -9px 9px 0 #de3c96,
        -10px 10px 0 #b561f8,
        -11px 11px 0 #b561f8,
        -12px 12px 0 #b561f8,
        -13px 13px 0 #6b93fa,
        -14px 14px 0 #6b93fa,
        -15px 15px 35px rgba(0, 0, 0, 0.2),
        -35px 15px 10px rgba(0, 0, 0, 0.1);
}

.head2 {
    margin-left: -70px;
}

.social-media-icons {
    width: 60px;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 30px;
}


/* section 2 */

.s2-display {
    display: flex;
    width: 100%;
    justify-content: center;
}

.s2-wrapper {
    width: 70%;
    padding: 2rem;
    position: relative;
    background: linear-gradient(90deg, rgba(243,62,68,1) 0%, rgba(220,58,113,1) 19%, rgba(181,97,248,1) 51%, rgba(107,147,250,1) 100%);  
    padding: 12px;
    border-radius: 40px;
}

.section2-container {
    width: 100%;
    height: 70vh;
    border-radius: 40px;
    background: #272727;
    box-shadow: rgba(181,97,248,1) 0px 10px 30px -10px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
}

.s2-col {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.s2-col img {
    width: 5vw;
    margin-top: 3vh;
}
